body {
	color: black;
	font-size: 16px;
	line-height: 22px;
}
.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

/*----------------TYPOGRAPHY--------------*/
a {
	text-decoration: none;
}
h1,
#logo {
	font-family: 'Landmark Regular A', 'Landmark Regular B', Helvetica, Arial, sans-serif; 
	font-weight: 400; 
	font-style: normal;
}
h1 {
	font-size: 8em;
	color: #C7F4EA;	
}
h2{
	font-family: 'Verlag A', 'Verlag B', Helvetica, Arial, sans-serif;
	font-weight: 500; 
	font-style: normal;
	font-size: 2.25em;
	line-height: 1.5em;
	margin-bottom: 1em;
	color: #000;
	text-align: center;
}
p {
	text-align: center;
	font-family: 'Verlag A', 'Verlag B', Helvetica, Arial, sans-serif;
	font-weight: 400; 
	font-style: normal;
	font-size: 1em;
	line-height: 1.5em;
	color: #505050;
}

/*-----------------MEDIA------------------*/
img,
video {
	width: 100%;
}

/*------------------HEADER-------------------*/
header {
	/*display: none;*/
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: rgba(130, 219, 199, .9);
	line-height: 50px;
}
header .wrapper {
	padding: 0 2%;
}

#logo {
	font-size: 2em;
	color: #C7F4EA;
}
#logo:hover {
	color: #FFF;	
}
.hg {
	color: #FFF;	
}
#header-email {
	float: right;
	font-family: 'Verlag A', 'Verlag B', Helvetica, Arial, sans-serif;
	font-weight: 300; 
	font-style: normal;
	font-size: 1.25em;
}
#header-email a {
	color: #FFF;
}
#header-email a:hover {
	text-decoration: underline;
	color: #C7F4EA;
}

/*------------------INTRO-------------------*/
#intro {
	text-align: center;
	background-color: #82DBC7;
}
#intro p {
	margin-top: 1.5em;
	font-family: 'Verlag A', 'Verlag B', Helvetica, Arial, sans-serif;
	font-weight: 300; 
	font-style: normal;
	font-size: 2.1em;
	letter-spacing: 3px;
	color: #C7F4EA;
}
#intro .social-media {
	margin-top: 3em;
}
#intro .social-media a {
	margin-top: 3em;
	padding: 0 30px;
	color: #FFF;
	font-size: 2em;
}
#intro .social-media a:hover {
	color: #C7F4EA;
}
/*----------------PROJECTS----------------*/
.project {
} 
.project .btn-ctr {
	text-align: center;
	margin-top: 4em;
}
.project a.button {
	padding: .5em 1em;
	font-family: 'Verlag A', 'Verlag B', Helvetica, Arial, sans-serif;
	font-weight: 500; 
	font-style: normal;
	text-align: center;
	font-size: 1.25em;
	color: #686868;
	border: 3px solid #82DBC7;
	text-decoration: none;
}
.project a.button:nth-child(2) {
	margin-left: 3em;
}
.project a.button:hover {
	background-color: #82DBC7;
	color: white;
}
.project a.button i {
	font-size: .7em;
	margin-left: .25em;
}
.project a.button i.fa-arrow-left {
	margin: 0 .5em 0 0;
}
.project p {
	width: 80%;
	margin: auto;
}

/*HMDA website*/
#proj-1 {
	background-color: #E8E8E8;
}
#proj-1 .browser_wrapper { 
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 75%;
	height: 400px;
}
#proj-1 .browser_wrapper img,
#proj-1 .browser_container img {
	position: relative;
	width: 100%; 
	margin: 0;
	top: 0;
	padding: 0; 
}
#proj-1 .browser_container {
	margin-top: -6px;
	height: 98%;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 40px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 0px 40px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 0px 40px 0px rgba(50, 50, 50, 0.4);
}
#proj-1 .bump-down {
	margin-top: 7em;
}

/*CFPB OpenTech site*/
#proj-2 {
	background-color: #F0F0F0;
}

/*Stamp animation*/
#proj-3 {
	background-color: #F8F8F8;
}

/**/
#proj-4 {
	background-color: #FFF;
}

/*-------------MEDIA QUERIES-------------*/

@media screen and (max-width: 768px) {
	body {
		font-size: 14px;
	}
	#proj-1 .browser_wrapper {
		height: 300px;
	}
}

@media screen and (max-width: 480px) {
	body {
		font-size: 12px;
	}
	header a {
		font-size: 1.25em;
	}
	h2 {
		margin-bottom: 1em;
	}
	#intro h1 {
		font-size: 6em;
	}
	.project {
		padding: 3em 1em;
	}
	.project p {
		font-size: 1.25em;
	}
	.project a {
		font-size: 1.5em;
	}
	#proj-1 .browser_wrapper {
		height: 200px;
	}
}

@media screen and (max-width: 320px) {

}






