body {
	background-color: #CCCCCC;
	color: black;
}
nav {
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: white;
}
footer {
	height: 100px;
	background-color: #333333;
	color: white;
}
a {
	color: black;
	text-decoration: none;
}
