html,
body {
	height: 100%;
}

body {
	background-color: cyan;
	color: black;
}
header {
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: white;
	line-height: 50px;
}
footer {
	height: 100px;
	background-color: #333333;
	color: white;
}
footer a {
	color: white;
}
/*--------------*/
a {
	color: black;
	text-decoration: none;
}
h1 {

}
h2{

}
p {

}
/*--------------*/
#intro {
	height: 100%;
	text-align: center;
	padding-top: 30%;
	background-color: #EDEDED;
}
.project {
	text-align: center;
	height: 100%;
}
.proj-1 {
	background-color: #CCC;
}
.proj-2 {
	background-color: #BBB;
}
.proj-3 {
	background-color: #AAA;
}