// Global style overrides
// ----------------------

h1,h2,h3 {
	font-family: 'Abril Fatface', cursive;
}
h5 {
	letter-spacing: .5px;
}
h6 {
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: bold;
}
p {
	font-size: .835rem;
	margin-bottom: .65rem;
}
p.copy__caption-label {
	font-family: 'Roboto', sans-serif;
  font-size: .75rem;
  letter-spacing: .75px;
  font-style: italic;
  margin-top: .3rem;
}
a {
	color: inherit;
	&:hover {
		color: $primary-color;
	}
}
.button {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: $white;
	color: $black;
	border: 1px solid;
	padding: .67rem 3rem;
  margin-top: 2rem;

	&:hover {
		background-color: $black;
		color: $white;
	}

	&.button--small {
		font-size: .67rem;
		padding: 0.4rem .6rem;
	}
}

::selection {
  background: $primary-color;
  color: $white; 
}
::-moz-selection {
  background: $primary-color;
  color: $white;
}


// Homepage
// --------

.nav--home, .nav--project {
	z-index: 10;

	.contact, .home {
		font-family: 'Roboto', sans-serif;
		letter-spacing: 3px;
		font-size: .75rem;
	}

	.social-media {
		font-size: 1.2rem;

		a {
			padding: 0 .3rem;		
		}
	}
}

header {
	margin: 10rem 0 13rem;
	text-align: center;

	// Mehgan hover
	a.link--mehgan, 
	a.link--mehgan:hover {
		color: $black;
	}
	.link--mehgan span {
		color: $black;
		display: inline-block;
		position: relative;
		-webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
		transform: perspective(1000px) rotate3d(0,1,0,0deg);
		-webkit-transition: -webkit-transform 0.5s, color 0.5s;
		transition: transform 0.5s, color 0.5s;
		-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
		transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	}
	.link--mehgan:hover span {
		color: $primary-color;
		-webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
		transform: perspective(1000px) rotate3d(0,1,0,180deg);
	}

	h5 {
		font-size: .85rem;
		letter-spacing: 3px;
	}
	.pipe {
		padding: 0 .5rem;
	}
}

.portfolio {
	.project {
	 	&.proj1,
	 	&.proj3,
	 	&.proj5 {
	 		margin-bottom: 2rem;
	 	}
	}

	//Project Hover
	.grid {
		position: relative;
	}
	.grid figure {
		position: relative;
		overflow: hidden;
		cursor: pointer;
	}
	.grid figure img {
		position: relative;
		display: block;
	}
	.grid figure figcaption {
		padding: 2em;
		color: $black;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.grid figure figcaption::before,
	.grid figure figcaption::after {
		pointer-events: none;
	}
	.grid figure figcaption,
	.grid figure figcaption > a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	// Anchor will cover the whole item by default
	.grid figure figcaption > a {
		z-index: 1;
		text-indent: 200%;
		white-space: nowrap;
		font-size: 0;
		opacity: 0;
	}
	figure.effect-milo {
		background: $white;
	}
	figure.effect-milo img {
		opacity: 1;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: translate3d(0,0,0) scale(1);
		transform: translate3d(0,0,0) scale(1);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	figure.effect-milo:hover img {
		opacity: 0.1;
		-webkit-transform: translate3d(0,0,0) scale(1.12);
		transform: translate3d(0,0,0) scale(1.12);
	}
	figure.effect-milo h2,
	figure.effect-milo h5 {
		width: 70%;
		text-align: right;
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: translate3d(-40px,0,0);
		transform: translate3d(-40px,0,0);	
	}
	figure.effect-milo h2 {
		font-size: 2rem;
		line-height: 2.35rem;
		padding-top: 1rem;
	}
	figure.effect-milo h5 {
		font-size: .85rem;
	}
	figure.effect-milo:hover h2,
	figure.effect-milo:hover h5 {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

.about {
	margin: 10rem auto;
	text-align: center;	
}


// Project Pages
// -------------

.project__copy {
	margin-top: 2rem;

	h2,h5 {
		text-align: right;
	} 
	h2 {
		line-height: 1.25;
	}
	.copy__title {
		.button--small {
			float: right;
			margin-top: 1.25rem;
		}
	}
	.copy__body {
		margin-top: 4.05rem;

		h6 {
			padding-top: 1.4em;
		}
	}
}
.project__images {
	margin-top: 3rem;

	.image__container {
		background-color: $light-gray;
		height: 400px;
		margin-top: 1.5rem;
	}
}



// Media Queries
// -------------

//Small & Medium only
@media screen and (max-width: 40em) {

	//Homepage
	.grid figure img {
		margin: auto;
		width: 100%;
	}
	.portfolio {
		.project {
		 	&.proj1,
		 	&.proj2,
		 	&.proj3,
		 	&.proj4,		 	
		 	&.proj5,
		 	&.proj6 {
		 		margin-bottom: 1rem;
		 	}
		}
	}

	//Project Page
	.copy__title {
		h2,h5 {
			text-align: left;
		} 
	}
	.project__copy .copy__title .button--small {
		float: left;
	}

}

/* Small only */
@media screen and (max-width: 39.9375em) {
	.title-bar {
		padding: .4rem .5rem;

		.social-media {
			font-size: 1rem;
		}
		.contact {
		  letter-spacing: 2px;
    	font-size: .7rem;
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
