/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/** Use a better box model (opinionated). */
*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

body {
	margin: 0; /* Remove the margin in all browsers. */
}

/* Add the correct font weight in Chrome and Safari. */
b,
strong {
	font-weight: bolder;
}

/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3). Correct the odd 'em' font sizing in all browsers.*/
code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Add the correct font size in all browsers. */
small {
	font-size: 80%;
}

/* Prevent 'sub' and 'sup' elements from affecting the line height in all browsers. */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016) */

table {
	border-color: currentcolor;
}

/* Change the font styles in all browsers. Remove the margin in Firefox and Safari.*/
button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/* Correct the inability to style clickable types in iOS and Safari. */
button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/* Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.*/
legend {
	padding: 0;
}

/* Add the correct vertical alignment in Chrome and Firefox. */
progress {
	vertical-align: baseline;
}

/* Correct the cursor style of increment and decrement buttons in Safari. */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/* Correct the odd appearance in Chrome and Safari. Correct the outline style in Safari.*/
[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/* Remove the inner padding in Chrome and Safari on macOS. */
::-webkit-search-decoration {
	-webkit-appearance: none;
}

/*Correct the inability to style clickable types in iOS and Safari. Change font properties to 'inherit' in Safari.*/
::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Add the correct display in Chrome and Safari. */
summary {
	display: list-item;
}

/* ============ GLOBAL OVERRIDES ============ */
body {
	margin: 0 2rem;
}

/* Typography*/
h1, h2, h3, h4, h5, a {
	font-family: "Roboto Mono", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.roboto-mono {
	font-family: "Roboto Mono", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

p {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
	font-size: 1rem;
	line-height: 1.25rem;
}

::selection { /* change highlight background color*/
	color: black;
	background: #7BFFE7;
  }
::-moz-selection { /* Firefox */
	color: black;
	background: #7BFFE7;
  }

/* Text links*/
a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
}

/* Buttons*/
a.button {
	display: inline-block; /*To stay within container flow*/
	padding: .85rem 1.25rem;
	border-radius: 10px;
	text-decoration: none;
	color: white;
	background: black;
	text-transform: lowercase;
	letter-spacing: 2px;
}
a.button:hover {
	color: black;
	background-color: white;
	box-shadow: inset 0 0 0 2px black; /*Inset border so doesn't change height of button on hover*/
}

/* ============ NAVIGATION ============ */
nav {
	margin: 0 auto;
	max-width: 1400px;
	display: flex;
	justify-content: space-between;
	padding: .75rem 0;
}
.nav__right a {
	padding-left: 1rem;
}


/* ============ HOMEPAGE ============ */
body.homepage {
    background: linear-gradient(240deg,#ccfbff,#fbcae4,#dafea4);
	/*background: linear-gradient(217deg, rgba(242,47,176,.5), rgba(156,126,255,0) 70%),
				linear-gradient(127deg, rgba(123,255,231,.8), rgba(255,241,111,0) 70%),
				linear-gradient(13deg, rgba(255,241,111,.8), rgba(255,241,111,0) 70%),
				linear-gradient(336deg, rgba(213,123,255,.8), rgba(255,197,111,0) 70%);	*/
    background-size: 150% 150%;
    animation: gradient 15s ease infinite;
    height: 120vh;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

main.homepage {
	margin: 5rem auto 0;
	max-width: 1100px;
	display: grid;
}
main.homepage div {
	width: 100%;
	height: 100%;
}
a.proj__link h1, p {
	margin: 0;
}
a.proj__link h1 {
	font-size: 2.25rem;
}
a.proj__link p {
	font-size: 1.5rem;
	padding-top: .5rem;
}
a.proj__link {
	color: white;
}
a.proj__link:hover {
	color: black;
	background-color: white;
	text-decoration: none;
}
a.proj__link:hover .proj__box {
	fill: white;
}
.proj__box:hover {
	fill: white;
}
.proj__box:hover a.proj__link {
	color: black;
	background-color: white;
}
.proj-3 { /*fix spacing between project rows*/
	padding-top: .6rem;
}
.footnote {
	padding: 1rem 0;
}

/* ====== PROJECT PAGES ======*/

main.project-page {
	margin: 5rem auto 0;
	max-width: 1100px;
	display: grid;
}
main.project-page section {
	width: 100%;
	height: 100%;
}
section.proj__name,
section.proj__details {
	display: grid;
	grid-template-columns: 3fr 5fr;
	gap: 2rem;
}
section.proj__name h1 {
	font-size: 3rem;
	margin: 0 0 .5rem;
	letter-spacing: -1px;
}
section.proj__name h2 {
	font-size: 1.5rem;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
	margin: 0 0 1.5rem;
}
section.proj__details {
	margin-bottom: 2rem;
}
p.proj__categories {
	font-style: italic;
	color: #565656;
	margin-bottom: 1.5rem;
}
div.proj__cta {
	border-top: 2px solid black;
	padding-top: 1rem;
}
div.proj__description {
	padding-top: 1.125rem;
}
div.proj__description p {
	padding-bottom: 1rem;
}
div.proj__description a {
	text-decoration: underline;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
}
div.proj__description a:hover {
	text-decoration: none;
}
section.proj__images div {
	max-width: 1100px;
	margin-bottom: 3rem;
}
section.proj__images img {
	max-width: 100%;
    height: auto;
	background-color: #f6f6f6;
}
section.proj__images p {
	padding-top: .75rem;
}
footer {
	margin-top: 1rem;
	padding: 2rem 0;
	border-top: 2px solid black;
	display: flex;
	justify-content: space-between;
}


/* ====== MEDIA QUERIES ======*/

/* Small and medium only (<768px) */
@media screen and (max-width: 48em) {
	/* Homepage */
	a.proj__link h1 {
		font-size: 2.5rem;
	}
	a.proj__link p {
		font-size: 2rem;
	}
	.proj-3 { /*fix spacing between project rows*/
		padding-top: .25rem;
	}

	/* Project page */
	section.proj__name,
	section.proj__details {
		grid-template-columns: 1fr;
	}
	section.proj__name h2 {
		margin-bottom: 0;
	}
}

/* Small only (<640px) */
@media screen and (max-width: 39.9375em) {
	body {
		margin: 0 1rem;
	}
	/* Homepage */
	a.proj__link h1 {
		font-size: 3rem;
	}
	a.proj__link p {
		font-size: 2.5rem;
	}	
}

/* Medium and up (640px+) */
@media screen and (min-width: 40em) {
}

/* Medium only (640px - 1024px) */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px+) */
@media screen and (min-width: 64em) {}

/* Large only (1024px - 1200px) */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}